
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --dark--blue:  #111827;
  --light--grey: #D4D4D4;
  --sky--blue:#83C7F7;
  --red:#DA2714;
  --dark--grey:#454545;
  --white:#FFFFFF;
  --black:#000000;
  --color-green: #89A480;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.rectangulo {
    border-radius: 20px;
    width: 100%; 
    margin:20px;
    min-height: 120px; 
    background-color: var(--dark--blue); 
    display: flex; /* Usamos flexbox para centrar el texto */
    justify-content: left; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    font-family: "Rubik", sans-serif; 
    overflow-wrap: break-word;
    
  }
  
  .texto {
    width: 60%;
    height: 100%;
    text-align: left;
    align-items: center; 
    padding: 5px;
    font-size: 12px;
    color:white;
  }
  
  .circulo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff; /* Cambia el color de fondo según lo necesites */
    margin-right: 5px; /* Ajusta el margen según lo necesites */
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }