@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --dark--blue:  #111827;
  --light--grey: #D4D4D4;
  --sky--blue:#83C7F7;
  --red:#DA2714;
  --dark--grey:#454545;
  --white:#FFFFFF;
  --black:#000000;
  --color-green: #89A480;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bluetooth-section {
    display: grid; /* Use grid layout */
    background-color: var(--white);
    outline: 1px solid var(--light--grey);
    width: 95%;  /* Adjust width as needed */
    height: 10%;  /* Adjust height as needed */
    border-radius: 20px;
    position: relative; /* Establish positioning context for child elements */
    margin: 20px 40px 20px 0;
    padding:5px 5px 5px 15px;
  }
  
  .bluetooth-text {
    grid-area: 1 / 1; 
    text-align: left; /* Align text to the left */
    color: var(--dark--grey);
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 15px;
    
    /* Remove unnecessary styles for grid layout */
    /* position: relative;  */
    /* display: inline-block; */
  }


.switch-button {
    grid-area: 1 / 2; 
    display: inline-block;
    margin-left: auto;
    
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--light--grey);
    border-color: var(--dark--grey);
    width: 2.5rem;
    height: 1rem;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
    margin: 0rem 1rem;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: var(--dark--grey);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--dark--grey);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--white);
    outline: 1px solid var(--light--grey);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(1.5rem);
}


