
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --dark--blue:  #111827;
  --light--grey: #D4D4D4;
  --sky--blue:#83C7F7;
  --red:#DA2714;
  --dark--grey:#454545;
  --white:#FFFFFF;
  --black:#000000;
  --color-green: #89A480;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.wifi-section {
    display:flex;
    flex-direction: column;
    width: 30%; 
    min-height: 30%; 
    align-items:center;
  }
  
  .wifi-text-container{
    position:relative;
    margin-top: -20px;
    
    
  }

  .wifi-text {
    text-align:center;
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
    font-family: "Rubik", sans-serif; 
    position: relative;
  }


  
  .wifi-icon {
    position:relative;

  }