
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --dark--blue:  #111827;
  --light--grey: #D4D4D4;
  --sky--blue:#83C7F7;
  --red:#DA2714;
  --dark--grey:#454545;
  --white:#FFFFFF;
  --black:#000000;
  --color-green: #89A480;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.messageShape {
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    width: 80%;
    margin: 20px;
    background: var(--light--grey);
    height: 4vh; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    
}

.messageShape-active {
    border: 2px solid var(--color-green) /* Cambia el color del borde a verde */
  }

.icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
}

.messageText {
    color: black;
    font-size: 12px;
}

.checkbox-button {
    grid-area: 1 / 2; 
    display: inline-block;
    margin-left: auto;
    
}
.checkbox-button .checkbox-button__message{
    display: none;
}
.checkbox-button .checkbox-button__label {
    background-color: var(--light--grey);
    outline: 1px solid var(--dark--grey);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
    margin: 10px 10px 5px 5px;
}
.checkbox-button .checkbox-button__label:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    background-color: var(--dark--grey);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--dark--grey);
}


.checkbox-button .checkbox-button__message:checked + .checkbox-button__label {
    background-color: var(--light--grey);
    outline: 1px solid var(--color-green);
    
}
.checkbox-button .checkbox-button__message:checked + .checkbox-button__label:before {
    background-color: var(--color-green);
    box-shadow: inset 0px 0px 0px 1px var(--color-green);
}