
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, "Rubik", sans-serif, "Zen Dots", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --dark--blue:  #111827;
  --light--grey: #D4D4D4;
  --sky--blue:#83C7F7;
  --red:#DA2714;
  --dark--grey:#454545;
  --white:#FFFFFF;
  --black:#000000;
  --color-green: #89A480;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 460px;
  min-height: 100vh;
  background-color: white;
}

.header-title{
  font-family: "Zen Dots", sans-serif; 
  font-weight:bold;
  font-size: 24px;
  color: var(--dark--blue);
  margin: 5px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.header-subtitle{
  color: var(--red);
  font-family: "Rubik", sans-serif; 
  font-size: 14px;
  font-weight:normal;
  margin-left:5px;
  margin-top: -5px;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p{
  text-align: center; 
  width: 100%; /* Asegura que el texto no se desborde */
  overflow-wrap: break-word; /* Permite que las palabras largas se rompan y pasen a la siguiente línea */
}

.button-container {
  text-align: center; /* Centra el contenido dentro del contenedor */
  margin: 5px auto; /* Agrega márgenes para espaciar el botón */
} 

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-family: "Rubik", sans-serif; 
  background-color: var(--dark--blue);
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 15px;
  width: 100%;
  height: 10%;
  margin:20px 20px 20px 0;

  @media (max-width: 768px) {
    .button-container {
      width: 95%; /* Ajusta el ancho del contenedor para pantallas más pequeñas */
    }

    button {
      width: 100%; /* En pantallas pequeñas, el botón ocupará todo el ancho del contenedor */
    }
  }

}


button:hover {
  border-color: var(--white);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.rectangulo {
  border-radius: 20px;
  width: 90%; 
  margin:20px;
  min-height: 120px; 
  background-color: var(--dark--blue); 
  display: flex; /* Usamos flexbox para centrar el texto */
  justify-content: left; /* Centra el texto horizontalmente */
  align-items: center; /* Centra el texto verticalmente */
  font-family: "Rubik", sans-serif; 
  overflow-wrap: break-word;

  @media (max-width: 768px) {
    width: 80%; /* Ocupa el 90% del ancho de la pantalla */
    margin: 20px auto; /* Aumenta los márgenes superior e inferior, y agrega un margen izquierdo y derecho */
    font-size: 14px;
  }
  
}

.texto {
  width: 80%;
  height: 100%;
  text-align: left;
  align-items: center; 
  padding: 5px;
  font-size: 12px;
}

.circulo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff; /* Cambia el color de fondo según lo necesites */
  margin-right: 5px; /* Ajusta el margen según lo necesites */
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 0.6em 1.2em;
  margin: 0 20px 5px 20px;
  box-sizing: border-box;
  border: 2px solid var(--dark--blue);
  border-radius: 10px;
  background-color: var(--white);
  color: var(--dark--blue);
  transition: 0.3s;
  font-family: "Rubik", sans-serif; 

  
}

input:focus {
  border-color: var(--sky--blue);
  background-color: var(--white);
}


.tituloInput{
margin-bottom: 0px;
margin-left: 20px;
margin-top: 0px;
color: var(--dark--blue);
font-family: "Rubik", sans-serif; 
font-weight:bold;
text-align: left;
font-size: 14px;
}

.wifi-section {
  margin-top:20px;
  display:flex;
  flex-direction: column;
  width: 50%; 
  min-height: 50%; 
  align-items:right;
}

.wifi-text-container{
  position:relative;
 
  margin-top: -20px;
  
}

.wifi-text {
  text-align:right;
  font-size: 14px;
  font-weight: bold;
  color: var(--black);
  font-family: "Rubik", sans-serif; 
  position: relative;
}


.wifi-icon {
  position:relative;

}

.inputs-section-big{
  display:grid;
  grid-template-columns: 4fr  1fr;
  margin-left:-20px;

  @media (max-width: 768px) {
    width: 80%; /* Ocupa el 90% del ancho de la pantalla */
    margin: 20px auto; /* Aumenta los márgenes superior e inferior, y agrega un margen izquierdo y derecho */
    font-size: 14px;
  }

  
}

.inputs-section-little{
  grid-area: 1 / 1; 
  
}

.inputs-section-wifi{
  grid-area: 1 / 2; 
  padding-left:50%;
  
}

.bluetooth-section {
  display: grid; /* Use grid layout */
  background-color: var(--white);
  outline: 1px solid var(--light--grey);
  width: 95%;  /* Adjust width as needed */
  height: 10%;  /* Adjust height as needed */
  border-radius: 20px;
  position: relative; /* Establish positioning context for child elements */
  margin: 20px 40px 20px 0;
  padding:5px 5px 5px 15px;

  @media (max-width: 768px) {
    width: 70%; /* Ocupa el 90% del ancho de la pantalla */
    margin: 20px auto; /* Aumenta los márgenes superior e inferior, y agrega un margen izquierdo y derecho */
    font-size: 14px;
  }
}

.bluetooth-text {
  grid-area: 1 / 1; 
  text-align: left; /* Align text to the left */
  color: var(--dark--grey);
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 15px;
  
  /* Remove unnecessary styles for grid layout */
  /* position: relative;  */
  /* display: inline-block; */
}


.switch-button {
  grid-area: 1 / 2; 
  display: inline-block;
  margin-left: auto;
  
}
.switch-button .switch-button__checkbox {
  display: none;
}
.switch-button .switch-button__label {
  background-color: var(--light--grey);
  border-color: var(--dark--grey);
  width: 2.5rem;
  height: 1rem;
  border-radius: 1rem;
  display: inline-block;
  position: relative;
  margin: 0rem 1rem;
}
.switch-button .switch-button__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--dark--grey);
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--dark--grey);
}


.messageShape {
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  width: 90%;
  margin: 5vh;
  background: var(--light--grey);
  height: 5vh; /* Ajusta la altura según tus necesidades */
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido dentro de messageShape */
  align-items: center;
  border: 2px solid var(--light--grey);

  @media (max-width: 768px) {
      width: 100%; /* Ajusta el ancho para pantallas más pequeñas */
      font-size: 15px;
    }
  
}


.messageShape-active {
  border: 2px solid var(--color-green) 
}



.icon {
  width: 1em;
  height: 1.3em;
  margin-left: 5px;
  
}

.messageText {
  color: black;
  font-size: 1em;
  margin-left: -35px;
  
}

.checkbox-button {
  grid-area: 1 / 2; 
  display: inline-block;
  margin-left: auto;
  
}
.checkbox-button .checkbox-button__message{
  display: none;
}
.checkbox-button .checkbox-button__label {
  background-color: var(--light--grey);
  outline: 1px solid var(--dark--grey);
  width: 1rem; /* Aumenta el tamaño del checkbox */
  height: 1rem;
  border-radius: 1rem;
  display: inline-block;
  position: relative;
  margin: 10px 10px 5px 5px;
}
.checkbox-button .checkbox-button__label:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.75rem; /* Aumenta el tamaño del círculo dentro del checkbox */
  height: 0.75rem;
  background-color: var(--dark--grey);
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 0px var(--dark--grey);
}




.checkbox-button .checkbox-button__message:checked + .checkbox-button__label {
  background-color: var(--light--grey);
  outline: 1px solid var(--color-green);
  
}

.checkbox-button .checkbox-button__message:checked + .checkbox-button__label:before {
  background-color: var(--color-green);
  box-shadow: inset 0px 0px 0px 1px var(--color-green);
}







@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 400px) {
  .github-fork-ribbon {
    display: none;
  }
}

@media (min-width: 400px) and (min-height: 400px) {
  
}

@media (min-width: 500px) and (min-height: 500px) {
  
}

@media (min-width: 600px) and (min-height: 600px) {
  
}

@media (min-width: 800px) and (min-height: 800px) {
  
}